* , *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

.primary-btn {
  background-color: var(--marine-blue);
  color: var(--white);
  font-weight: 500;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:active {
    opacity: 0.9;
  }
}

.secondary-btn {
  background-color: transparent;
  color: var(--cool-gray);
  font-weight: 500;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:active {
    color: var(--marine-blue);
  }
}

@media(max-width: 450px) {
  .primary-btn , .secondary-btn {
    font-size: .8rem;
  }

  .primary-btn {
    padding: .8rem 1.5rem;
  }

  .secondary-btn {
    padding: .8rem 1.5rem;
    border : 1px solid var(--marine-blue);
  }
}