.thank-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 75%;
    height: 100%;

    background: white;
}

.thank-header {
    display: flex;
    flex-direction: column;
    gap : .75rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;

    h1 {
        color : var(--marine-blue);
        font-size: 2rem;
    }

    p {
        color : var(--cool-gray);
        max-width: 30rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 650px) {
    .thank-wrapper {
        width: 100%;
    }
}